* {
    margin: 0;
    padding: 0;
}

body {
    background: #000022;
    font: 400 15px lato, sans-serif;
    color: #555;
    animation: body linear 2s;
    line-height: 1.8;
}

a,
.tablinks {
    text-decoration: none;
    color: #f4511e;
    /* color: #f1356d; */
}

@keyframes body {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/* Logo Start here*/

.slideanim {
    visibility: hidden;
}

.slide {
    animation: slide 1s linear;
    -webkit-animation: slide 1s linear;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.logo a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #444;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    box-shadow: 2px 2px 2px #444;
    border-radius: 50%;
    border: 2px solid rgb(59, 89, 152);
    font-weight: 600;
    text-transform: uppercase;
}


/* Logo ends here */

.nav-link {
    color: #777 !important;
}

.nav-item,
.menu-text {
    color: aliceblue;
}

.light-mode-check {
    color: aliceblue !important;
}


/* Arrows start here */

.right {
    width: auto;
    color: #fff;
    writing-mode: vertical-rl;
    margin: 10px;
    top: 55%;
    padding: 10px;
    position: absolute;
    animation: arrow 1s linear infinite;
}

.left {
    width: auto;
    color: #fff !important;
    writing-mode: vertical-lr;
    margin: 10px;
    top: 55%;
    right: 0px;
    padding: 10px;
    position: absolute;
    float: right;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0% {
        top: 45%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 45%;
    }
}


/* Arrows ends here */

.nav-background {
    background: #222;
    color: #fff;
}

.menu {
    background: #333;
}

.body-of-footer-modal {
    background: #333;
}

.background-modal {
    background: #000022;
}

.head-of-modal {
    background: #444;
    color: #00ff00;
}

#card-background-color {
    background-color: transparent;
}


/* Top center Image and Text */

.img-span {
    display: flex;
    flex-direction: row;
}

.img-span:before {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #00ff00;
    margin: auto;
}

.img-span:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #00ff00;
    margin: auto;
}

.modal-button {
    text-align: center;
    width: 100%;
}

.img-center {
    margin-top: 25px;
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.span-txt1 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s alternate;
}

.span-txt2 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 0.5s alternate;
}

.span-txt3 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 1s alternate;
}

.span-txt4 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 1.5s alternate;
}

.span-txt5 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 2s alternate;
}

.span-txt6 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 2.5s alternate;
}

.span-txt7 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 3s alternate;
}

.span-txt8 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 3.5s alternate;
}

.span-txt9 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 4s alternate;
}

.span-txt10 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 4.5s alternate;
}

.span-txt11 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 5s alternate;
}

.span-txt12 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 5.5s alternate;
}

.span-txt13 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 6s alternate;
}

.span-txt14 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 6.5s alternate;
}

.span-txt15 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 7s alternate;
}

.span-txt16 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 7.5s alternate;
}

.span-txt17 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 8s alternate;
}

.span-txt18 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 8.5s alternate;
}

.span-txt19 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 9s alternate;
}

.span-txt20 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 9.5s alternate;
}

.span-txt21 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 10s alternate;
}

.span-txt22 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 10.5s alternate;
}

.span-txt23 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 11s alternate;
}

.span-txt24 {
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px #00ff00;
    font-family: joker;
    animation: animate 1s linear 11.5s alternate;
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(360deg);
}

@keyframes animate {
    0% {
        bottom: 0px;
        left: 0px;
        opacity: 0;
    }
    50% {
        bottom: 10px;
        left: 10px;
        opacity: 0.5;
    }
    100% {
        left: 0px;
        bottom: 0px;
        opacity: 1;
    }
}


/*---------------- Tab Navigation start here-------------- */


/* Style the Tab */

.tab {
    overflow-x: auto;
    border: none;
    background: transparent;
}


/* Style the Button inside the tab */

.tab button {
    background: transparent;
    color: #5bc0de;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    margin: 1%;
    padding: 14px 16px;
    font-size: 13px;
}


/* change background color of buttons on hover */

.tab button:hover {
    background: #222;
    border-bottom: 1px solid #00ff00;
}


/* an active/current tablink class */

.tab button.active {
    background: #333;
}


/*------------ tab content -----------*/

.tabcontent3,
.tabcontent4,
.tabcontent5 {
    display: none;
}

.tabcontent {
    padding: 6px 12px;
    border: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*---------------- Tab Navigation ends here-------------- */


/* get-intouch-form */

.get-intouch-form {
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    border: 2px solid #00ff00;
    color: #777;
}

.get-intouch-form-button {
    text-align: center;
}


/* Footer */

footer {
    text-align: center;
}

footer .fas {
    color: #444;
}


/* Footer Social Media Logo */

.span1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    /* margin-right: 40px; */
}


/*---------------- SKills start here-------------- */

.imglogo {
    height: 20px;
    width: 20px;
    float: left;
}

.langskill {
    display: inline-flex;
}

.web {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: skyblue;
    display: inline-flex;
    margin: 0 5px 0 5px;
}

.en2 {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #666;
    display: inline-flex;
    margin: 0 5px 0 5px;
}


/*---------------- SKills endz here-------------- */


/* Light mode */


/* Light mode */


/* Dark mode */