*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: tahoma;
    background: #444;
    animation: rotate 3s linear infinite;

}
 #bar{
    height: 100px;
    background: #555;
    color: #999; 
    padding: 4px;
    font-family: joker;
    text-transform: uppercase;
    
}
img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#bar::first-line {
    font-size: 40px;
}
#bar2{
    width: auto;
    height: auto ;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    min-height: 20vw;
    padding-top: 50px;
    background: green;
    font-weight: bold;
    font-size: 20px;
    background:-webkit-linear-gradient(30deg, #111,#222, #333, #444, #555, #666, #777, #888, #999);
    animation: rotate 3s linear infinite;
    color: #999;
    text-align: center;

}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

#text{
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    background: transparent;
    color: cyan;
    border-radius: 15px;
    font-size: 18px;
    
    border-bottom: 2px solid blue;
    text-align: center;
}
#text:hover{
    width: 300px;
    border-color: #42b72a;
}
#button{
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    background: transparent;
    color: #888;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid blue;
    text-align: center;
}
#button:hover{
    width: 300px;
    border-color: #42b72a;
}