body{
    background-color: #f1f1f1;
    color: #555;
}


.button{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    font-size: large;
    border-bottom: 2px solid #555;
    border-radius: 20px;
    background: #f1f1f1;
    box-shadow: 2px 2px 5px #111;
    color: #555;
}
.img-fluid{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #111;

}
input{
    background: transparent;
    box-shadow: 2px 2px 5px #111;
}
 select{
    background: transparent;
    box-shadow: 2px 2px 5px #111;
}